// GRID
/////////////////////////////////////////////////////////////////*/
// CONTENT
/////////////////////////////////////////////////////////////////*/
#content {
  padding: 60px 0;
  .container {
    padding: 20px 40px 60px; 
  } 
}
.container {
  margin: 0 auto;
  position: relative;
  padding: 0 40px;
  min-width: 640px;
}
