// CARD TYPOGRAPHY
/////////////////////////////////////////////////////////////////*/
.card {
  cursor: pointer;
  height: 280px;
  margin: 0 10px 20px 10px;
  position: relative;
  width: 225px;
  h3{
    font-size: 14px;
    font-weight: bold;
    margin: 20px 10px 10px;
  }
  h4{
    margin: 20px 10px 0px;
    font-size: 12px;
    text-transform: uppercase;
  }
  strong{
    font-size: 12px;
    text-transform: uppercase;
  }
  p{
    margin: 0 10px 10px;
  }
  a{
    color: $color_text_light;
    font-weight: normal;
    &:hover{
      color: $color_corporate;
    };
  }
  ul{
    margin: 3px 10px 10px;
    padding: 0 0 0 2px;
    list-style: none;
    color: $color_text_light;
    li a{
      font-weight: normal;
    }
  }
  img{
    margin: 0;
  }
}
// CARD FLIP
/////////////////////////////////////////////////////////////////*/
.card {
  .card__flip__back, 
  .card__flip__front{
    visibility: hidden;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
  }
  .card__flip__front{
    background: transparent url("../images/flip_icon.png") 0 0 no-repeat;
  }
  .card__flip__back{
    background: transparent url("../images/flip_icon.png") 0 -30px no-repeat;
  }
  &:hover{
    z-index: 1000;
    .card__flip__back,
    .card__flip__front{
      visibility: visible;
    }
  }
}
// CARD FRONT & BACK
/////////////////////////////////////////////////////////////////*/
.card {
  @include perspective(600px);
  .card__front,
  .card__back{
    float: none;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border: 1px solid $color_border_light;
    padding: 1px;
    @include transform-style(preserve-3d);
    @include backface-visibility(hidden);
    @include single-box-shadow;
    @include transition-duration("0.5s, 0.2s");
    @include transition-property(transform box-shadow);
  }
  .card__front{
    z-index: 900;
    background: #fff;
    @include transform(rotateY(0deg));
    .card__source{
      visibility: hidden;
    }
  }
  &.flip .card__front{
    z-index: 900;
    @include transform(rotateY(180deg));
  }
  .card__back{
    @include transform(rotateY(-180deg));
    z-index: 800;
    border-color: $color_border_dark;
    background: $color_corporate;
    border-color: darken($color_corporate, 5%);
    color: #fff;
    a{
      color: rgba(255,255,255,0.75);
      &:hover{
        color: rgba(255,255,255,1);
      };
    }
  }
  &.flip .card__back{
    $default-box-shadow-color: rgba(0, 0, 0, 0.5);
    $default-box-shadow-blur: 10px;
    @include single-box-shadow;
    @include transform(rotateY(0deg));
    z-index: 1000;
  }
  .card__front:hover{
    $default-box-shadow-color: rgba(0, 0, 0, 0.3);
    $default-box-shadow-blur: 5px;
    @include single-box-shadow;
    border-color: $color_border_dark;
    .card__source{
      visibility: visible;
    }
  }
}