// HEADER
/////////////////////////////////////////////////////////////////*/
.header {
  @include fix;
  @include box-shadow(rgba(0, 0, 0, 0), 0 0 0);
  @include transition-property(box-shadow);
  @include transition-duration(0.8s);
  background: $color_corporate;
  height: 30px;
}
.header__container {
  @include container;
}
.header__title {
  @include text-shadow(rgba(0,0,0, 0.3) 0px -1px 0);
  @include inline-block();
  color:#fff;
  font-size: 12px;
  font-weight: bold;
  line-height: 30px;
  margin-right: 10px;
  text-transform: uppercase;
}
.header__title__link {
  color:#fff;
}
.header__title__link:hover {
  color:#fff;
}
.header__subtitle{
  @include text-shadow(rgba(0,0,0, 0.3) 0px -1px 0);
  @include inline-block();
  color:#fff;
  font-size: 12px;
  font-weight: normal;
  line-height: 30px;
  text-transform: uppercase;
}
.header__title__link:hover .header__title__image {
  display: none;
}
.header.overlayed .header__title__link:hover .header__title__image {
  display: block; 
}