// SECTIONS
/////////////////////////////////////////////////////////////////*/
#main .section {
  margin: 0 0 30px; }

#footer .section {
  margin: 0 0 30px;
  .section_heading {
    margin: 0 0 10px; } }

.section_heading {
  position: relative;
  border-bottom: 1px solid $color_border_light;
  h2, h3 {
    margin-bottom: 1px;
    @extend .meta_text; } }
